<!DOCTYPE html>
<html>
<script src="server.js"></script>

<head>
  <title>Profile</title>
</head>
<h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

</html>